.flex {
  display: flex;
}
.align-item {
  align-items: center;
}
.space-between {

  justify-content: space-between;
}

.btn {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--dark);
  transition: all .5s ease-in-out;
}
.btn-secondry {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.5 ease-in-out;
}
.btn-secondry:hover {
  background-color: var(--primary-color);
  color: var(--dark);
  transition: all .5s ease-in-out;
}
.btn-primary:hover {

  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.flex-1 {
  flex: 1;
}
.justify-right {
  justify-content: flex-end;
}
.justify-between {

  justify-content: space-between;
}




.icon-color {
  color: var(--primary-color);
}